<form class="pie-form">
  <div class="form-group row">
    <div class="col-5 offset-3">
      <input type="text" class="form-control form-control-lg" id="pie-name" name="pie-name"  placeholder="new pie">
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-lg btn-primary">Add Pie</button>
    </div>
  </div>
</form>